body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../images/background.jpg");
}

#select-bar {
  text-align: center;
  font-size: 25px;
}

#choose {
  margin-top: 20px;
  background-color: blue;
  color: white;
  padding: 0px 15px;
  transition-duration: 0.8s;
}

#choose:hover {
  background-color: red;
  color: black;
}

#save-button {
  text-align: center;
}

#region-text {
  position: absolute;
  padding: 10px;
  top: 16%;
  left: 30%;
  width: 40%;
  height: 42%;
  color: white;
  background-color: black;
  border-radius: 40px 40px 0px 0px;
  text-align: center;
  font-size: 20px;
  font-family: "Pokemon Hollow", cursive;
  text-transform: uppercase;
}

#region-map {
  position: absolute;
  top: 23%;
  left: 23%;
  width: 54%;
  height: 54%;
  border: 5px solid black;
  border-radius: 40px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#bottom-text {
  position: absolute;
  padding: 10px;
  top: 77%;
  left: 30%;
  width: 40%;
  height: 20%;
  color: white;
  background-color: black;
  border-radius: 0px 0px 40px 40px;
  text-align: center;
  font-size: 20px;
  font-family: "Pokemon Hollow", cursive;
}

@media screen and (max-width: 992px) {
  body {
    width: 50%;
  }
  #region {
    width: 50%;
  }
  #region-text {
    width: 50%;
  }
  #region-map {
    width: 50%;
  }
  #bottom-text {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  #region {
    width: 100%;
  }
  #region-text {
    width: 100%;
  }
  #region-map {
    width: 100%;
  }
  #bottom-text {
    width: 100%;
  }
}
