body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../images/background.jpg");
}

/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; */

.container {
    text-align: center;
    font-size: 20px;
}

#choose {
    margin-top: 20px;
    background-color: blue;
    color: white;
    padding: 5px 12px;
    transition-duration: 0.8s;

}

#choose:hover {
    background-color: red;
    color: black;
}

#searchbar {
    text-align: center;
    margin: 10px;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    color: blue;
}

footer p {
    text-align: center;
    width: 100%;
}

